#avatar {
    border-radius: 10px;
}

#avatar-div {
    margin-top: 100px;
}

#bio {
    margin-top: 0px;
    margin-bottom: 20px;
}

#login {
    margin-top: 0px;
}

#name {
    margin-bottom: 5px;
}

.non-closeable {
  float: left;
  font-size: 16px;
  line-height: 32px;
  padding-right: 4px;
}

.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #EEE;

	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
